<div class="row" *ngIf="workers.length > 0">
    <div class="col-12 mt-2">
        <h5>{{title}}</h5>
    </div>
    <div class="col-1 font-weight-bold">id</div>
    <div class="col-2 font-weight-bold">Имя</div>
    <div class="col-3 font-weight-bold">Фамилия</div>
    <div class="col-2 font-weight-bold">Номер телефона</div>
    <div class="col-2 font-weight-bold">Тип</div>
    <div class="col-12 font-weight-bold" *ngFor="let worker of workers">
        <form [formGroup]="worker.workerForm">
            <div class="row mt-2">
                <div class="col-1">{{worker.id}}</div>
                <div class="col-2">
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" formControlName="surname">
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" formControlName="phone"
                        [textMask]="{mask: mask, showMask: true}">
                </div>
                <div class="col-2">
                    <select class="custom-select" formControlName="type">
                        <option [ngValue]="myWorkerType.programmer">Программист</option>
                        <option [ngValue]="myWorkerType.designer">Дизайнер</option>
                        <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
                        <option [ngValue]="myWorkerType.manager">Менеджер</option>
                    </select>
                </div>
                <div class="col-2 d-flex flex-column justify-content-between">
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="onEditWorker(this.worker)">Редактировать</button>
                    <button class="btn btn-outline-success btn-sm mt-2" (click)="onSaveWorker(this.worker)"
                        [disabled]="worker.workerForm.disabled || worker.workerForm.invalid">Сохранить</button>
                    <button (click)="onDeleteWorker(worker.id)"
                        class="btn btn-outline-danger btn-sm mt-2">Удалить</button>
                </div>
            </div>
        </form>
        <hr>
    </div>
</div>